# Normalizar finales de línea para archivos de texto
* text=auto

# Asegurar LF para archivos de texto
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf

# Ignorar finales de línea para archivos binarios
*.png binary
*.jpg binary
*.pdf binary
